.theme-toggle {
	position: absolute;

	top: 15px;
	left: 15px;

	aspect-ratio: 1 / 1;

	height: clamp(50px, 6vmin, 60px);

	background: var(--card-color);
	border-radius: 16px;

	box-shadow: 0 0 25px rgba(0, 0, 0, 0.35);
	border: 1px solid rgba(255, 255, 255, 0.05);

	backdrop-filter: blur(18px);
	-webkit-backdrop-filter: blur(18px);
}

.sun,
.moon {
	position: absolute;
	opacity: 0;
}

html[data-theme="light"] .moon {
	opacity: 1;
	transform: scale(1);
}

html[data-theme="light"] .sun {
	transform: scale(0.8);
}

html[data-theme="dark"] .sun {
	opacity: 1;
	transform: scale(1);
}

html[data-theme="dark"] .moon {
	transform: scale(0.8);
}
