body[data-theme="dark"] {
	--bg-color: #211f1f;
	--dot-color: #ffffff;

	--card-color: #1a1919;

	--text-color: #ffffff;
	--secondary-color: #bbbbbb;

	--spinner-color: #4b8264;
	--spinner-color-transparent: transparent;
	--line-color: #8f3d3d;
}

body[data-theme="light"] {
	--bg-color: #ffffff;
	--dot-color: #2a2a2a;

	--card-color: #ffffff;

	--text-color: #1a1919;
	--secondary-color: #555555;

	--spinner-color: #5aa47b;
	--spinner-color-transparent: transparent;
	--line-color: #d9534f;
}

.theme-toggle {
	position: absolute;

	top: 15px;
	left: 15px;

	aspect-ratio: 1 / 1;

	height: clamp(50px, 6vmin, 60px);

	background: var(--card-color);
	border-radius: 16px;

	box-shadow: 0 0 25px rgba(0, 0, 0, 0.35);
	border: 1px solid rgba(255, 255, 255, 0.05);

	backdrop-filter: blur(18px);
	-webkit-backdrop-filter: blur(18px);
}

.sun,
.moon {
	position: absolute;
	opacity: 0;
}

html[data-theme="light"] .moon {
	opacity: 1;
	transform: scale(1);
}

html[data-theme="light"] .sun {
	transform: scale(0.8);
}

html[data-theme="dark"] .sun {
	opacity: 1;
	transform: scale(1);
}

html[data-theme="dark"] .moon {
	transform: scale(0.8);
}
