.profile {
	display: flex;
	flex-direction: column;
	align-self: center;
	text-align: center;
	justify-content: center;

	margin: 5px;
	padding: 1px;

	border-radius: 360px;
	aspect-ratio: 1 / 1;

	height: clamp(20px, 2vh + 2vw, 6vh);

	font-size: clamp(15px, 1vh + 1vw, 5vh - 15px);
	font-weight: bold;
}
