<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="style/default.css" />
		<link rel="stylesheet" href="style/user.css" />

		<title>Redirect Page</title>
	</head>
	<body>
		<div class="bg-pattern"></div>

		<div class="container">
			<div class="top-row">
				<div class="spinner" id="spin"></div>
				<div class="line" id="hide"></div>
			</div>

			<div class="middle-row">
				<h1 id="title">Starting Service</h1>
				<h3 id="subtitle">Initializing startup...</h3>
			</div>

			<div class="bottom-row">
				<p id="output"></p>
			</div>
		</div>

		<div class="user">
			<div class="profile"></div>
		</div>

		<script type="module">
			import { startWoLProcess } from "./js/wol.js"
			import { getProfileColor } from "./js/user.js"

			const userData = {
				name: "<% user.name %>",
				email: "<% user.email %>",
				locale: "<% user.locale %>",
			}

			const userProfile = document.querySelector(".user .profile")

			const output = document.getElementById("output")

			const title = document.getElementById("title")
			const subtitle = document.getElementById("subtitle")

			function changeAnimation(id, newId) {
				const element = document.getElementById(id)
				if (element) element.id = newId
			}

			function handleError({
				host = "Server",
				msg = "Something went wrong",
			} = {}) {
				setTimeout(() => {
					changeAnimation("spin", "cross-line")
					changeAnimation("hide", "add-line")

					title.textContent = msg
					subtitle.textContent = `${host} seems to be unreachable`
				}, 250)
			}

			function handleSubtitle(msg) {
				subtitle.textContent = msg
			}

			function handleOutput(msg) {
				output.textContent += msg + "\n"
			}

			const prefersDark = window.matchMedia(
				"(prefers-color-scheme: dark)"
			).matches
			document.body.setAttribute("data-theme", prefersDark ? "dark" : "light")

			userProfile.textContent = userData.name.substring(0, 2).toUpperCase()
			userProfile.style.backgroundColor = getProfileColor(userData.name)

			const onload = () => {
				startWoLProcess({
					outputHandler: handleOutput,
					errorHandler: (msg) => {
						handleError()
					},
					onwsopen: () => {
						handleSubtitle("Starting process...")
						handleOutput("WebSocket connected.")
					},
					onsuccess: (ws, msg) => {
						outputHandler("Service is online! Redirecting...")
						ws.close()
						setTimeout(() => {
							window.location.href = msg.url
						}, 250)
					},
				})
			}

			window.addEventListener("DOMContentLoaded", onload)
		</script>
	</body>
</html>
